/* General Navbar Styling */
.navbar-custom {
    background-color: #f8f9fa;
    padding: 1rem; /* Consistent spacing */
    display: flex;         /* Enable flexbox for better layout control */
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;    /* Vertically center content */
}

/* Government Text Styling */
.gov-text {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}

/* Ministry Logo Section Styling */
.ministry-logo-section {
    display: flex;
    align-items: center;
}

/* Ministry Logo Styling */
.ministry-logo {
    width: 70px; 
    height: auto;
    margin-right: -255px;
}

/* Ministry Text Styling */


/* Icon Styling */
.icon {
    width: 30px;
    height: auto;
    margin-left: 15px; 
}

/* Main Logo Styling */
.main-logo {
    width: 120px; 
    height: auto;
 
}
.main{
    margin-left:-400px;
}
.top-navbar{
    
    margin-left:180px;
}
 